genai==2.1.0
geopandas==0.12.2
gitdb==4.0.10
GitPython==3.1.32
google-ai-generativelanguage
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai
googleapis-common-protos==1.65.0
huggingface-hub==0.16.4
openai==0.27.8
pandas==1.4.2
streamlit==1.26.0
