genai==2.1.0
geopandas==0.12.2
gitdb==4.0.10
GitPython==3.1.32
google-ai-generativelanguage
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai
googleapis-common-protos==1.65.0
huggingface-hub==0.16.4
openai==0.27.8
pandas==1.4.2
Pillow==9.0.1
pyarrow==13.0.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.10.12
pydeck==0.8.0
PyDispatcher==2.0.5
Pygments==2.16.1
tiktoken==0.3.3
streamlit==1.26.0
